.ion-row {
    margin-bottom: 16px;
    align-items: center;
}

.img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.infos {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.name {
    font-weight: bold;
}
