.recipe-row {
    align-items: center;
}

.recipe-card:hover {
    background-color: red;
}

.img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.infos {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    height: 100px;
    justify-content: space-between;
}

.name {
    font-weight: bold;
}
