<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>

  <ion-title>Recipe of {{recipe?.name}}</ion-title>

  <ion-col>
    <ion-row class="first_row">
      <ion-col class="infos">
        <ion-label class="preparation_time">Preparation Time: {{recipe?.prep_time}} mins</ion-label>
        <ion-label class="cook_time">Cooking Time: {{recipe?.cook_time}} mins</ion-label>
      </ion-col>
      <ion-button class="edit_button" [routerLink]="['/edit-recipe', recipe?.name]">Edit recipe</ion-button>
    </ion-row>

    <ion-row>
      <ion-row class="servings_row">

        <ion-label class="servings">Servings: {{ currentServings }}</ion-label>

        <ion-button class="minus_button" (click)="decreaseServings()">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>

        <ion-button class="plus_button" (click)="increaseServings()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-row>

      <ion-card class="img_edit_button_container">
        <ion-img
          [src]="recipe?.img"
          class="recipe_img">
        </ion-img>

        <div class="edit_button_container">
          <ion-fab-button size="small" class="edit_fab">
            <ion-icon name="images-sharp"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-card>

    </ion-row>

    <ion-label class="ingredients_label">Ingredients :</ion-label>
    <ion-list class="ingredients_list">

      @for (ing of recipe?.ingredients; track ing.name) {
        <p class="ingredient">
          {{ getScaledQuantity(ing) | number:'1.0-2' }}{{ ing.unit }} {{ ing.name }}
        </p>
      }

    </ion-list>

    <ion-label class="directions_label">Directions :</ion-label>
    <ion-list class="directions_list">
      @for (step of recipe?.directions; track $index; let i = $index) {
        <p class="steps"><strong>Étape {{ i + 1 }} :</strong> {{ step }}</p>
      }
    </ion-list>
  </ion-col>
</ion-content>