$corner-radius: 12px;
$spacing-md: 16px;

.img_edit_button_container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;

  .recipe_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.edit_button_container {
  position: absolute;
  bottom: 12px;
  right: 12px;
  border-radius: 8px;
}

.edit_fab {
  --border-radius: 8px;
  --background: #3880ff;
  --color: #ffffff;
  --padding-start: 12px;
  --padding-end: 12px;
}

.first_row {
  margin-left: 0;
  margin-right: 8px;
}

ion-list {
  --ion-background-color: transparent;
  padding: 0;
}

ion-label {
  font-weight: bold;
  margin-left: 8px;
}

.ingredient,
.steps {
  margin: $spacing-md;
}

.infos {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
}

.servings_row {
  display: flex;
  align-items: center;
}

.servings {
  margin-right: 40px;
}

.plus_button {
  --border-radius: 0 #{$corner-radius} #{$corner-radius} 0;
}

.minus_button {
  --border-radius: #{$corner-radius} 0 0 #{$corner-radius};
}
